:root {
  --bg-color-main: #1e293b;
  --bg-color-dark: #020617;
  --van-primary-color: #06b6d4;
  --van-button-primary-border-color: #0e7490;
}

.van-theme-dark {
  color: #ecfeff;
  background-color: var(--bg-color-main);
}